$--bs-accordion-active-bg: #f7e4b5;

.test {
    color: rgb(6, 122, 68);
}

.accd-row {
    height: 50px;
    @media (max-width: 770px) {
        height: 65px;
    }
    @media (max-width: 450px) {
        height: 80px;
    }
    @media (max-width: 400px) {
        height: 90px;
    }
}

.accd {
    width: 20%;
    max-width: 219px;
    text-align: center;
}

.accd-map {
    text-align: center;
    @media (max-width: 1200px) {
        padding-inline-start: 40px;
    }
    @media (max-width: 450px) {
        padding-inline-start: 0;
    }

    a {
        font-size: 16px;
        border: none;
        background: none;
        text-decoration: none;
    }
}

.accordion-body {
    padding-inline-start: 12px;
    padding-inline-end: 16px;
}

.accordion {
    padding: 0;
}
.accordion-header .accordion-button {
    padding-inline-start: 0;
    padding-top: 10px;
    cursor: default;
}
.accordion-button:focus {
    box-shadow: none;
}
.accordion-button:not(.collapsed) {
    background-color: $--bs-accordion-active-bg;
}
.accordion-button:after {
    @media (max-width: 450px) {
        display: none;
    }
}
